body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    padding: 0 150px;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 12px;
}

a {
    text-decoration: none; 
}

.secondary-text, a {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    color: #E5E7EB;
}

.hero {
    background-color: #1F2937;
    padding: 120px 80px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.hero h1{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

.left-hero {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.right-hero img {
    height: 300px;
    width: 600px;
}

.signup {
    padding: 10px 30px;
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 800;
    color: #F9FAF8;
}

.information h1 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 52px;
    padding-bottom: 100px;
}

.info {
    max-width: 145px;
    text-align: center;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container {
    width: 800px;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    margin-bottom: 0;
}

.author {
    font-weight: 800;
    font-size: 22px;
}

.action-section {
    display: flex;
    justify-content: center;
    align-items: center;

}

.action-container {
    background-color: #3882F6;
    width: 900px;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    border-radius: 8px;
    padding-top: 42px;
    padding-bottom: 42px;
}

.left-action {
    color: #F9FAF8;
}

.left-action h3 {
    margin: 0;
    padding: 0;
}

.left-action p {
    margin: 0;
    padding: 0;
}

.action-signup {
    padding: 10px 30px;
    background-color: #3882F6;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 800;
    color: #F9FAF8;
    border: 1px white solid;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}